:root {
    --bg: #f8f9fa;
    --button-bg: #dee2e6;
    --font-color: #343a40;
    --input-color: #495057;
    --on-hover: #e9ecef; 

    --font-rubik: "Rubik", sans-serif;
    --transition-value: all 250ms ease;
}

:root.dark {
    --bg: #495057;
    --button-bg: #343a40;
    --font-color: #e9ecef;
    --input-color: #dee2e6;
    --on-hover: #6c757d; 
}

:root.dark {
    --bg: #495057;
    --button-bg: #343a40;
    --font-color: #e9ecef;
    --input-color: #dee2e6;
    --on-hover: #6c757d; 
}

html {
    font-size: 12px;
    font-family: var(--font-rubik);
}

body {
    background-color: var(--bg);
    color: var(--font-color);
}

h1, h2, h3, h4, h5, h6 {
    user-select: none;
}

.date-bar {
    font-size: 24px;
    position: fixed;
    width: 100%;
    height: 2em;
    left: 0;
    top: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.date {
    font-weight: 500;
    position: relative;
    margin: 0;
}

.arrow-left,
.arrow-right {
    position: absolute;
    width: 2em;
    height: 2em;
    padding: 0.1em;
    background: none;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;
    fill: var(--font-color);
} 

.arrow-left {
    left: 1.5em;
}

.arrow-right {
    right: 1.5em;
}

.task-container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-self: center;
    font-size: 30px;
}

.task-list,
.completed-task-list {
    position: relative;
    list-style-type: none;
    padding: 0;
}

.task-list li,
.completed-task-list li {
    display: flex;
    gap: 0.3em;
    align-items: center;
    padding: 0.4em;
}

.completed-task-list li {
    text-decoration: line-through;
}

.title-completed {
    font-weight: 400;
    font-size: 1em;
    margin: 0 0 0.5em 1em;
}

.cross {
    stroke: var(--font-color);
    opacity: 0;
    width: 0.8em;
    height: 0.8em;

}

.check-box {
    fill: var(--bg);
    stroke: var(--button-bg);
    stroke-width: 1;
    width: 1.2em;
    height: 1.2em;
}

input {
    color: var(--input-color);
    background-color: var(--bg);
    position: relative;
    font-size: 0.8em;
    border: none;
    outline: none;
    font-weight: 500;
}

.check-box .tick {
    stroke-width: 1;
    stroke: none;
    fill: var(--font-color);

}

.theme-switcher {
    width: 3rem;
    height: 3rem;
    bottom: 2rem;
    right: 2rem;
    position: fixed;
    cursor: pointer;
}

li:hover :last-child,
li:hover {
    background-color: var(--on-hover);
}

li:hover .cross {
    opacity: 0.6;
}

.cross:hover :first-child {
    stroke: rgb(194, 62, 62);
    stroke-width: 4;
}

.add-task-button {
    background-color: var(--button-bg);
    position: fixed;
    padding: 1rem;
    width: 5rem; 
    height: 5rem;
    bottom: 4rem;
    border: none;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.15);
    /* 0 3px 10px 0 rgba(0, 0, 0, 0.19); */
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;
}

.add-task-button.click {
    transform: translate3d(-0.02rem, 0.1rem, 0);
    width: 4.8rem;
    height: 4.8rem;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
}

.add-task-button:hover {
    background-color: var(--on-button-hover);
}

li, input,
.add-task-button {
    transition: var(--transition-value);
}

li:hover,
li:hover input {
    background-color: var(--on-hover);
}

.add-task-button :first-child {
    stroke: var(--font-color);
}

@media (max-width: 576px) {
    .date-bar {
        font-size: 12px;
    }

    .task-container {
        font-size: 24px;
    }

    html {
        font-size: 9px;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .date-bar {
        font-size: 16px;
    }
    
    .task-container {
        font-size: 26px;
    }

    html {
        font-size: 10px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .date-bar {
        font-size: 20px;
    } 

    .task-container {
        font-size: 28px;
    }

    html {
        font-size: 11px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .date-bar {
        font-size: 24px;
    }

    .task-container {
        font-size: 30px;
    }

    html {
        font-size: 12px;
    }
}

@media (min-width: 1200px) {
    .date-bar {
        font-size: 26px;
    }

    .task-container {
        font-size: 32px;
    }

    html {
        font-size: 13px;
    }
}